<div>
  <%= @player_1_name %> and <%= @player_2_name %> enter the arena
</div>

<div>
  <div style= 'border: 10px solid green'>
    <%= @player_2_name %> has <%= @player_2_hit_points %> points
</div>

<div>
  <div style= 'border: 10px solid yellow'>
    <%= @player_2_name %> has <%= @player_2_hit_points %> points
</div>